@import "./common.scss";

.feedback {
    &__title {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px 0;
    }
}

.feedbackItem {
    flex: 1 1 calc(20% - 20px);
    font-size: 16px;
    border: 4px solid #060101;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(135deg, rgb(96, 96, 96), rgb(197, 197, 197));

    border-radius: 12px;
    height: 300px;
    overflow: hidden;
    color: #1f1f1f;

    @media (max-width: $md1) {
        flex: 1 1 calc(25% - 20px);
    }

    @media (max-width: $md2) {
        flex: 1 1 calc(33.333% - 20px);
    }

    @media (max-width: $md3) {
        flex: 1 1 calc(50% - 20px);
    }

    @media (max-width: $md4) {
        flex: 1 1 100%;
    }

    &__wrapper {
        overflow-y: scroll;
        height: 100%;
        padding: 10px;
    }

    &__name {
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__date {
        color: #232323;
        margin-bottom: 10px;
    }

    &__rate {
        margin-bottom: 10px;
    }

    &__textItem {
        line-height: 1.2;
        margin-bottom: 10px;
    }
}
