@import "./common.scss";

.mainSlider {
    position: relative;
    margin-bottom: 20px;

    &__slide {
        img {
            max-height: 400px;
            width: 100%;
            object-fit: cover;
        }
    }

    &__arrowsCont {
        position: absolute;
        z-index: 2;
        left: 0;
        top: calc(50% - 40px / 1.5);
        width: 100%;

        @media (max-width: $md2) {
            top: calc(50% - 30px / 1.5);
        }
        @media (max-width: $md3) {
            top: calc(50% - 20px / 1.5);
        }
    }

    &__arrowsRow {
        display: flex;
        justify-content: space-between;
    }

    &__arrow {
        position: relative;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
        color: #ffffff;

        @media (max-width: $md2) {
            font-size: 30px;
        }
        @media (max-width: $md3) {
            font-size: 20px;
        }

        &_next {
            right: 20px;
        }

        &_prev {
            left: 20px;
        }
    }
}
